src/main/resources/solr-nodes-config.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="servers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="server">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="instance" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="host"/>
                                        <xs:element type="xs:short" name="port"/>
                                        <xs:element type="xs:string" name="master-host" minOccurs="0"/>
                                        <xs:element type="xs:short" name="master-port" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="master" use="optional"/>
                                    <xs:attribute type="xs:string" name="slave" use="optional"/>
                                    <xs:attribute type="xs:string" name="reference" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="group"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>